.para1{
	text-align:center;
	font-style:italic;
	font-size:50px;
	color:lime;
		
}
.para2{
	text-align:center;
	font-style:italic;
	font-size:25px;
	color:white;
}


	.para1{
	text-align:center;
	font-style:italic;
	font-size:25px;
	color:lime;
	text-transform:uppercase;
}
.para3{
	text-align:center;
	font-style:italic;
	font-size:25px;
	color:white;
	text-transform:uppercase;
	border-style:double;
	border-radius:15px;
}
.para4{
	text-align:center;
	font-style:italic;
	font-size:25px;
	color:lime;
text-transform:uppercase;
}
.para5{
	text-align:center;
	font-style:italic;
	font-size:25px;
	color:white;
	
}
body{
	background:maroon;
}
.para6{
	text-align:center;
	font-size:italic;
	font-size:25px;
	color:white;
}
.para7{
	float:left;
	font-size:25px;
}
@media screen and (max-whdth:500px){
}